div#contenedor{
	background-color: #93FAC8;
	width: 1300px;
	height: 1050px;
	margin: auto;
}
div#cabeza{
	width: 1300px;
	height: 180px;
	margin: 0px 0px 10px 0px;
}
img#fondo{
	margin: 0px 0px 0px -4px;
}
img#logo2{
	margin: 0px 0px 0px -4px;
}
div#navegar{
	background-color: #0BE394;
	width: 1000px;
	height: 36px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin: auto;
	padding: 10px 0px 0px 0px;
}
div#menú{
	background-color: #0BE31A;
	width: 105px;
	height: 20px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin: 0px 0px 0px 65px;
	padding: 4px 0px 0px 70px;
}
div#gal{
	background-color: #0BE31A;
	width: 110px;
	height: 20px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin: -24px 0px 0px 300px;
	padding: 4px 0px 0px 65px;
}
div#promo{
	background-color: #0BE31A;
	width: 125px;
	height: 20px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin: -24px 0px 0px 530px;
	padding: 4px 0px 0px 50px;
}
div#reserva{
	background-color: #0BE31A;
	width: 125px;
	height: 20px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin: -24px 0px 0px 765px;
	padding: 4px 0px 0px 50px;
}
div#menú:hover{
	background-color: #E60D05;
}
div#gal:hover{
	background-color: #E60D05;
}
div#promo:hover{
	background-color: #E60D05;
}
div#reserva:hover{
	background-color: #E60D05;
}
h1{
	margin: 0px 0px 0px 150px;
	font: bold 250% cursive;
}
p#descrip{
	margin: -300px 50px 0px 490px;
	font: 134% cursive;
}
img#mojarraF{
	margin: 0px 0px 0px 20px;
}
img#coctelC{
	margin: 0px 0px 0px 800px;
}
p#servicio{
	margin: -300px 520px 0px 20px;
	font: 134% cursive;
}
p#fin{
	margin: 0px 0px 0px 300px;
	font: bold 140% cursive;
}
div#piePag{
	background-color: #00F2DE;
	width: 1300px;
	height: 190px;
	margin: auto;
}
img#redes{
	margin: 17px 0px 0px 1000px;
}
div#tel{
	margin: -116px 0px 0px 450px;
	font: 100% cursive;
}
div#correo{
	margin: -90px 0px 0px 700px;
	font: 100% cursive;
}
img#logoP{
	margin: -123px 0px 0px 120px;
}
p#dir{
	margin: 0px 0px 10px 5px;
	font: 100% cursive;
}